html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: color 150ms ease-out, background-color 150ms ease-out;
  line-height: 1.2;
}

ul,
li {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}
.isActive {
  color: $secondary-color !important;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  align-items: center !important;
  width: 960px;
  @include sm(width, 760px!important);
  @include xs(width, 320px!important);
}

.swiper-pagination-bullet {
  font-family: $monteserrat-font;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 0 !important;
  width: auto !important;
  height: auto !important;
  background-color: transparent !important;
  color: $main-color;
  @include sm(margin-top, 20px !important);
  @include xs(margin-top, 10px !important);
}
.swiper-pagination-bullet-active {
  color: $secondary-color !important;
  transition: color 0.2s linear;
}

footer {
  .swiper-pagination {
    position: static !important;
  }
}

.menubox,
.swiper-pagination {
  position: fixed !important;
}

// ::-webkit-scrollbar {
//   -webkit-appearance: none;
//   width: 5px;
// }
// ::-webkit-scrollbar-thumb {
//   border-radius: 3px;
//   background-color: rgba(0, 0, 0, 0.5);
//   // -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
// }
