html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: color 150ms ease-out, background-color 150ms ease-out;
  line-height: 1.2;
}

ul,
li {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}
.isActive {
  color: $secondary-color !important;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  align-items: center;
  width: 960px;
  @include sm(width, 760px);
  @include xs(width, 320px);
}

.swiper-pagination-bullet {
  font-family: $monteserrat-font;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 0;
  width: auto;
  background-color: transparent;
  color: $main-color;
  @include sm(margin-top, 20px);
  @include xs(margin-top, 10px);
}
.swiper-pagination-bullet-active {
  color: $secondary-color;
  transition: color 0.2s linear;
}
.swiper-pagination {
  position: static;
}
