$main-color: #c5c6c9;
$secondary-color: #e4426d;
$background-color: #252934;
$gradient-background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
$footer-color: #1b2430;
$button-color: #998675;
$white-color: #ffffff;
$social-color: #c6cacc;
$roboto-font: "Roboto Slab", serif;
$monteserrat-font: "Monteserrat", sans-serif;
