$main-color: #c5c6c9;
$secondary-color: #ed3b55;
$title-color: #ec417e;
$shadow-color: #4b47f6;
$background-color: #252934;
$gradient-background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
$footer-color: #1b2430;
$button-color: #998675;
$white-color: #ffffff;
$social-color: #c6cacc;
$js-logo: #efd81d;
$html-logo: #dd4b25;
$css-logo: #254bdd;
$react-logo: #59d2f3;
$node-logo: #398337;
$roboto-font: "Roboto Mono", monospace;
$road-rage-font: "Roadrage", sans-serif;
