.container
  .home
    p.home__text.home-offset
      | Hello! My name is An Dyk Bui. I’m a Full Stack developer, passionate about coding and creating amazing websites. If you want to contact me,please send an email to 
      br
      a(href="mailto: max_bui@ukr.net" target="_blank" rel="noreferrer") max_bui@ukr.net 
    .home__anim