.container
  .home
    p.home__text.transform-up.js-split
      |Hello!
      br
      | My name is Bui An Dyk
      br
      | and I'm 
      span.retro.text-spacing fullstack
      br
      | developer.
    .home__anim
      .canvas
  .scroll
    span.scroll__arrow
    span.scroll__arrow
