mixin project(projectName,link,title,stack)
  div(class='swiper-slide')
    a(href=`${link}` target="_blank" rel='noreferrer' class="project" ) 
      div(class=`project__img ${projectName}`)
      h2.project__title
        =title
      p.project__stack
        =stack

.container
  h2.portfolio__title.js-split.text-spacing Portfolio
  .swiper-container
    .swiper-wrapper
      +project('project-rizor','https://simabui.github.io/Rizor/dist/','Rizor Hovertax','GSAP3/jQuery/Responsive')
      +project('project-budget','https://raschitalochka-goit.netlify.app/', 'Budget Manager','ReactJS/React Router/NodeJS/PostgreSQL')
      +project('project-table','https://simabui.github.io/table-front/', 'Documents filter','ReactJS/NodeJS/MongoDB')
      +project('project-moviessearch','https://smoviesearch.netlify.app/', 'Movies Search','ReactJS/React Router')
      +project('project-pictures','https://simabui.github.io/pictures', 'Pixabay pictures','ReactJS')
      +project('project-calendar','https://simabui.github.io/react-calendar', 'Calendar','ReactJS')
      +project('project-phonebook','https://simabui.github.io/phonebook', 'Phonebook','ReactJS/Redux')
      +project('project-todo','https://simabui.github.io/ToDo/', 'ToDo list','ES6/Webpack')
      +project('project-movies','https://simabui.github.io/movielist/', 'Movies Gallery','ES6/Webpack')
      +project('project-chat','https://simabui.github.io/chat/login.html', 'Chat','ES6/WebSocket/Google API')
      +project('project-html','https://simabui.github.io/HTML-layouts/Waxom/build/#', 'Waxom','Pug/Scss/Responsive Design')
    .swiper-button-next
    .swiper-button-prev
