mixin project(project,text,link, name)
  .projects__item
    a(href=`${link}` target="_blank" rel='noreferrer')
      div(class=`projects__img projects__img-${project}`)
        .projects__name
          p=name
    p.projects__stack
      =text

.portfolio
  h2.portfolio__title Portfolio
  .projects
    +project('rizor','GSAP3/jQuery/Responsive','https://simabui.github.io/Rizor/dist/', 'Rizor Hovertax')
    +project('budget','ReactJS/React Router/NodeJS/PostgreSQL','https://raschitalochka-goit.netlify.app/', 'Budget Manager')
    +project('table','ReactJS/NodeJS/MongoDB','https://simabui.github.io/table-front/', 'Documents filter')
    +project('moviessearch','ReactJS/React Router','https://smoviesearch.netlify.app/', 'Movies Search')
    +project('pictures','ReactJS','https://simabui.github.io/pictures', 'Pixabay pictures')
    +project('calendar','ReactJS','https://simabui.github.io/react-calendar', 'Calendar')
    +project('phonebook','ReactJS/Redux','https://simabui.github.io/phonebook', 'Phonebook')
    +project('todo','ES6/Webpack','https://simabui.github.io/ToDo/', 'ToDo list')
    +project('movies','ES6/Webpack','https://simabui.github.io/movielist/', 'Movies Gallery')
    +project('chat','ES6/WebSocket/Google API','https://simabui.github.io/chat/login.html', 'Chat')
    +project('html','Pug/Scss/Responsive Design','https://simabui.github.io/HTML-layouts/Waxom/build/#', 'Waxom')
  .scroll
    span.scroll__arrow
    p.scroll__title Scroll