.burger-menu {
  display: none;
  @include sm(display, block);
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 999;
}

#menu__toggle {
  opacity: 0;
  transition: all 0.2s linear;

  &:checked ~ .burger-menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.571);
  }
  &:checked ~ .burger-menu-overlay {
    .menu__btn {
      span {
        transform: rotate(45deg);
      }
    }
  }
  &:checked ~ .burger-menu-overlay {
    .menu__btn {
      span::before {
        top: 0;
        transform: rotate(0);
      }
    }
  }
  &:checked ~ .burger-menu-overlay {
    .menu__btn {
      span::after {
        top: 0;
        transform: rotate(90deg);
      }
    }
  }

  &:checked ~ .burger-menu-overlay {
    nav > .menu__box {
      visibility: visible;
      opacity: 1;
      left: 0;
    }
  }
}
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 999;

  span,
  span::before,
  span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $white-color;
    transition-duration: 0.3s;
  }

  span::before {
    content: "";
    top: -8px;
  }

  span::after {
    content: "";
    top: 8px;
  }
}

.menu__box {
  // @include sm(height, 100vh);
  @include sm(padding, 0);
  @include xs(width, 230px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: -100%;
  width: 300px;
  bottom: 0;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: $footer-color;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear !important;
}
