#footer-section {
  background-color: $footer-color;
  position: fixed;
  left: 0;
  bottom: 0px;
  right: 0;
  @include sm(display, none);
}

.footer {
  height: 100%;

  &__list {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    padding: 30px 0;
  }

  &__item {
    a {
      font-family: $monteserrat-font;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      color: $main-color;
      text-decoration: none;
    }

    a:hover {
      color: $secondary-color;
      transition: color 0.2s linear;
    }
  }
}
