.main {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/retro-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home {
  @include row-flex();
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__text {
    @include col();
    @include size(6);
    @include size-xs(12);
    color: #ebebeb;
    font-family: $roboto-font;
    font-weight: 700;
    font-size: 45px;
    margin: 0;

    @include lg-block() {
      font-size: 42px;
    }

    @include md-block() {
      font-size: 29px;
    }

    @include xs-block() {
      font-size: 30px;
      text-align: center;
      order: 2;
    }
  }

  &__anim {
    @include col();
    @include size(6);
    @include size-xs(12);
    @include xs(order, 1);

    .triangles {
      position: relative;
      width: 1200px;
      height: 100vh;

      @include sm(width, 630px);
    }

    .el {
      position: absolute;
      left: -10%;
      top: -15%;
      width: 100%;
      height: 100%;
      transition: all 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

      @include xs(top, -45%);
    }
  }
}

.transform-up {
  transform: translateY(-20px);

  @include xs(transform, translateY(-170%));
}
.js-letter {
  display: inline-block;
  min-width: 0.3em;
  z-index: 999;
}
.text-spacing {
  letter-spacing: 5px;
}

.retro {
  .js-letter {
    font-family: $road-rage-font;
    color: $title-color;
    text-shadow: -6px 2px 0px $shadow-color;
  }
}

@media screen and (max-width: 320px) {
  .home__text {
    font-size: 20px;
  }
  .text-spacing {
    letter-spacing: 4px;
  }
  .home__anim .triangles {
    width: 436px;
  }
  .transform-up {
    transform: translateY(-240%);
  }
}
