.main {
  width: 100%;
  height: 100vh;
  background-image: url("../images/retro-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.home {
  @include row-flex();
  justify-content: center;
  align-items: center;
  height: 100vh;
  @include xs-block() {
    flex-direction: column-reverse;
  }
  &__text {
    @include col();
    @include size(6);
    @include size-xs(12);
    color: #ebebeb;
    font-family: $roboto-font;
    font-weight: 700;
    font-size: 45px;
    margin: 0;

    @include xs-block() {
      font-size: 35px;
      text-align: center;
    }
  }

  &__anim {
    @include col();
    @include size(6);
    @include size-xs(12);
  }
}
.transform-up {
  transform: translateY(-20px);
}
.js-letter {
  display: inline-block;
  min-width: 0.3em;
  z-index: 999;
}
.text-spacing {
  letter-spacing: 5px;
}

.retro {
  .js-letter {
    font-family: $road-rage-font;
    color: $title-color;
    text-shadow: -6px 2px 0px $shadow-color;
  }
}
