.portfolio {
  width: 100%;
  height: 100vh;
  background-color: #303030;
  &__title {
    @include xs(font-size, 20px);
    font-family: $monteserrat-font;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 500px;
    margin: 0 auto;
    color: $main-color;
  }
}

.projects {
  @include row-flex();
  margin-top: 10px;
  height: 340px;
  overflow: scroll;

  &__item {
    @include col();
    @include size(3);
    @include size-md(4);
    @include size-sm(6);
    @include size-xs(12);

    a {
      display: block;
      overflow: hidden;
    }
  }

  &__img {
    max-width: 100%;
    height: 111px;
    background-size: cover;
    transition: transform 0.2s linear;
    background-repeat: no-repeat;

    &:hover {
      transform: scale(1.2);
      @include xs(transform, scale(1));

      .projects__name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        p {
          z-index: 1;
        }

        &:before {
          display: block;
        }
      }
    }
    &-movies {
      background-image: url("../images/moviesGallery.jpg");
    }
    &-todo {
      background-image: url("../images/todo.jpg");
      background-position: -4px 0;
    }
    &-chat {
      background-image: url("../images/chat.jpg");
      background-position: -4px 0;
    }
    &-calendar {
      background-image: url("../images/calendar.jpg");
      background-position: -4px 0;
    }
    &-phonebook {
      background-image: url("../images/phone.jpg");
    }
    &-pictures {
      background-image: url("../images/pixabay.jpg");
    }
    &-moviessearch {
      background-image: url("../images/movieSearch.jpg");
    }
    &-budget {
      background-image: url("../images/budget.jpg");
    }
    &-html {
      background-image: url("../images/waxom.jpg");
    }
    &-rizor {
      background-image: url("../images/rizor.jpg");
    }
    &-table {
      background-image: url("../images/table.jpg");
    }
  }

  &__name {
    display: none;
    font-family: $monteserrat-font;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;

    &:before {
      content: "";
      display: none;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #242424bf;
    }
  }

  &__stack {
    @include xs(font-weight, 700);
    @include xs(font-size, 13px);
    @include xs(color, #fff);
    font-family: $monteserrat-font;
    color: $main-color;
    text-align: center;
  }
}

.scroll {
  display: block;
  @include sm(display, block);
  margin: 15px auto 0 auto;
  text-align: center;

  &__arrow {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
    animation: sdb 1.5s infinite;
  }

  &__title {
    margin-top: 30px;
    margin-bottom: 0;
    font-family: $monteserrat-font;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
  }
}

@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-10px, 10px);
    opacity: 0;
  }
}
