.portfolio {
  width: 100%;
  height: 100vh;
  background-image: url("../images/retro-bg2.jpg");
  background-size: cover;
  background-position: center;

  &__title {
    @extend %title;
    padding-top: 50px;
    @include xs(font-size, 40px);
  }
}

.project {
  @include xs(margin-top, 50px);

  &__img {
    width: 560px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0006);
    @include xs-block() {
      width: 360px;
      height: 250px;
      -webkit-box-reflect: below -45px linear-gradient(transparent, transparent, #0006);
    }
  }
  & {
    &:hover {
      .project__title {
        text-decoration: underline;
      }
    }
  }

  &__title,
  &__stack {
    color: #fff;
    font-family: $roboto-font;
    text-align: center;
    margin: 0;
  }
  &__title {
    font-size: 50px;
    font-weight: 700;
    -webkit-box-reflect: below -20px linear-gradient(transparent, transparent, #0006);
    @include xs(font-size, 35px);
  }
  &__stack {
    font-size: 18px;
    font-weight: 400;
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0006);
    @include xs(font-size, 16px);
  }

  &-movies {
    background-image: url("../images/moviesGallery.jpg");
  }
  &-todo {
    background-image: url("../images/todo.jpg");
  }
  &-chat {
    background-image: url("../images/chat.jpg");
  }
  &-calendar {
    background-image: url("../images/calendar.jpg");
  }
  &-phonebook {
    background-image: url("../images/phone.jpg");
  }
  &-pictures {
    background-image: url("../images/pixabay.jpg");
  }
  &-moviessearch {
    background-image: url("../images/movieSearch.jpg");
  }
  &-budget {
    background-image: url("../images/budget.jpg");
  }
  &-html {
    background-image: url("../images/waxom.jpg");
  }
  &-rizor {
    background-image: url("../images/rizor.jpg");
  }
  &-table {
    background-image: url("../images/table.jpg");
  }
}
