<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js")
    script(src="https://kit.fontawesome.com/ac59070d68.js" crossorigin="anonymous")
    script( async src="https://www.googletagmanager.com/gtag/js?id=UA-196972389-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-196972389-1');

  title An Dyk Bui | Fullstack Developer | ReactJS/NodeJS
  body
    .pinContainer
      .black
      section.panel.main
        include pug/home
      section.panel.portfolio
        include pug/portfolio
      section.panel.about-section
        include pug/aboutme
    .layer
    include pug/slide




